---
# DHCP Reservations for Homelab Devices
# Copy this file to router_dhcp.yml and fill in actual MAC addresses
# NOTE: Set router DNS to 192.168.8.12 for Pi-hole ad blocking

dhcp_reservations:
  - name: "netgear-gs308ep"
    mac: "XX:XX:XX:XX:XX:XX"  # Get from switch label
    ip: "192.168.8.2"
  
  - name: "homelab-main"
    mac: "XX:XX:XX:XX:XX:XX"  # Run: ip link show on ThinkPad
    ip: "192.168.8.10"
  
  - name: "homelab-staging"
    mac: "XX:XX:XX:XX:XX:XX"  # Run: ip link show on Asus
    ip: "192.168.8.11"
  
  - name: "homelab-mgmt"
    mac: "XX:XX:XX:XX:XX:XX"  # Run: ip link show on MiniPC
    ip: "192.168.8.12"
  
  - name: "pi4-node1"
    mac: "XX:XX:XX:XX:XX:XX"  # Run: cat /sys/class/net/eth0/address
    ip: "192.168.8.20"
  
  - name: "pi4-node2"
    mac: "XX:XX:XX:XX:XX:XX"  # Run: cat /sys/class/net/eth0/address
    ip: "192.168.8.21"
  
  - name: "pi3-utils"
    mac: "XX:XX:XX:XX:XX:XX"  # Run: cat /sys/class/net/eth0/address
    ip: "192.168.8.22"
