---
- name: Configure WireGuard VPN on GL.iNet Router
  hosts: glinet-router
  gather_facts: false

  vars:
    wireguard_port: 51820
    wireguard_vpn_subnet: "10.0.10.0/24"
    wireguard_server_ip: "10.0.10.1"
    wireguard_endpoint: "{{ lookup('env', 'WG_ENDPOINT') | default('dcsicsak.duckdns.org', true) }}"

    wireguard_clients:
      - name: laptop
        ip: 10.0.10.2
        description: "Lenovo New"

    client_dns: "192.168.8.1"
    client_allowed_ips: "10.0.10.0/24, 192.168.8.0/24"
    client_keepalive: 25

    client_configs_dir: "{{ playbook_dir }}/../wireguard_clients"

  tasks:
    - name: Update package lists
      ansible.builtin.command:
        cmd: opkg update
      tags: packages

    - name: Install WireGuard packages
      ansible.builtin.command:
        cmd: opkg install {{ item }}
      loop:
        - wireguard-tools
        - kmod-wireguard
        - luci-proto-wireguard
        - qrencode
      tags: packages
      ignore_errors: true

    - name: Check if server private key exists
      ansible.builtin.stat:
        path: /etc/wireguard/server_private.key
      register: server_key
      tags: wireguard

    - name: Generate server private key
      ansible.builtin.shell:
        cmd: wg genkey > /etc/wireguard/server_private.key
      when: not server_key.stat.exists
      tags: wireguard

    - name: Set server key permissions
      ansible.builtin.file:
        path: /etc/wireguard/server_private.key
        mode: "0600"
      tags: wireguard

    - name: Generate server public key
      ansible.builtin.shell:
        cmd: cat /etc/wireguard/server_private.key | wg pubkey > /etc/wireguard/server_public.key
      tags: wireguard

    - name: Read server private key
      ansible.builtin.slurp:
        src: /etc/wireguard/server_private.key
      register: server_private_key
      tags: wireguard

    - name: Read server public key
      ansible.builtin.slurp:
        src: /etc/wireguard/server_public.key
      register: server_public_key
      tags: wireguard

    - name: Create WireGuard interface configuration
      ansible.builtin.shell:
        cmd: |
          uci set network.wg0=interface
          uci set network.wg0.proto='wireguard'
          uci set network.wg0.private_key='{{ server_private_key.content | b64decode | trim }}'
          uci set network.wg0.listen_port='{{ wireguard_port }}'
          uci add_list network.wg0.addresses='{{ wireguard_server_ip }}/24'
      tags: wireguard

    - name: Configure firewall zone for WireGuard
      ansible.builtin.shell:
        cmd: |
          uci set firewall.wg=zone
          uci set firewall.wg.name='wg'
          uci set firewall.wg.input='ACCEPT'
          uci set firewall.wg.output='ACCEPT'
          uci set firewall.wg.forward='ACCEPT'
          uci set firewall.wg.masq='1'
          uci add_list firewall.wg.network='wg0'
      tags: firewall

    - name: Allow WireGuard to access LAN
      ansible.builtin.shell:
        cmd: |
          uci set firewall.wg_lan=forwarding
          uci set firewall.wg_lan.src='wg'
          uci set firewall.wg_lan.dest='lan'
      tags: firewall

    - name: Allow WireGuard port from WAN
      ansible.builtin.shell:
        cmd: |
          uci set firewall.wg_wan=rule
          uci set firewall.wg_wan.name='Allow-WireGuard'
          uci set firewall.wg_wan.src='wan'
          uci set firewall.wg_wan.dest_port='{{ wireguard_port }}'
          uci set firewall.wg_wan.proto='udp'
          uci set firewall.wg_wan.target='ACCEPT'
      tags: firewall

    - name: Remove existing WireGuard port forward (if any)
      ansible.builtin.shell:
        cmd: |
          # Remove any existing vpn redirect rules
          while uci -q delete firewall.@redirect[0]; do :; done
          # Alternative: only remove if name matches 'vpn'
          # for i in $(uci show firewall | grep "=redirect" | grep ".name='vpn'" | cut -d. -f2 | cut -d= -f1); do
          #   uci delete firewall.$i
          # done
      tags: firewall
      ignore_errors: true

    - name: Add WireGuard port forwarding (DNAT redirect)
      ansible.builtin.shell:
        cmd: |
          uci add firewall redirect
          uci set firewall.@redirect[-1].target='DNAT'
          uci set firewall.@redirect[-1].name='vpn'
          uci set firewall.@redirect[-1].src='wan'
          uci set firewall.@redirect[-1].dest='lan'
          uci set firewall.@redirect[-1].proto='udp'
          uci set firewall.@redirect[-1].src_dport='{{ wireguard_port }}'
          uci set firewall.@redirect[-1].dest_ip='192.168.8.1'
          uci set firewall.@redirect[-1].dest_port='{{ wireguard_port }}'
          uci set firewall.@redirect[-1].enabled='1'
      tags: firewall

    - name: Commit network changes
      ansible.builtin.command:
        cmd: uci commit network
      tags: wireguard

    - name: Commit firewall changes
      ansible.builtin.command:
        cmd: uci commit firewall
      tags: firewall

    - name: Reload network
      ansible.builtin.command:
        cmd: /etc/init.d/network reload
      tags: wireguard

    - name: Reload firewall
      ansible.builtin.command:
        cmd: /etc/init.d/firewall reload
      tags: firewall

    - name: Read server public key for client generation
      ansible.builtin.slurp:
        src: /etc/wireguard/server_public.key
      register: server_public_key
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Create clients directory on router
      ansible.builtin.file:
        path: /etc/wireguard/clients
        state: directory
        mode: "0700"
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Check if client keys already exist
      ansible.builtin.stat:
        path: "/etc/wireguard/clients/{{ item.name }}_private.key"
      register: client_keys_check
      loop: "{{ wireguard_clients }}"
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Generate client private keys
      ansible.builtin.shell:
        cmd: "wg genkey > /etc/wireguard/clients/{{ item.item.name }}_private.key"
      loop: "{{ client_keys_check.results }}"
      when:
        - wireguard_clients is defined and wireguard_clients | length > 0
        - not item.stat.exists
      tags: clients

    - name: Set client key permissions
      ansible.builtin.file:
        path: "/etc/wireguard/clients/{{ item.name }}_private.key"
        mode: "0600"
      loop: "{{ wireguard_clients }}"
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Generate client public keys
      ansible.builtin.shell:
        cmd: "cat /etc/wireguard/clients/{{ item.name }}_private.key | wg pubkey > /etc/wireguard/clients/{{ item.name }}_public.key"
      loop: "{{ wireguard_clients }}"
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Read client private keys
      ansible.builtin.slurp:
        src: "/etc/wireguard/clients/{{ item.name }}_private.key"
      register: client_private_keys
      loop: "{{ wireguard_clients }}"
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Read client public keys
      ansible.builtin.slurp:
        src: "/etc/wireguard/clients/{{ item.name }}_public.key"
      register: client_public_keys
      loop: "{{ wireguard_clients }}"
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Get existing WireGuard peers
      ansible.builtin.shell:
        cmd: "uci show network | grep wireguard_wg0 | grep public_key || true"
      register: existing_peers
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Add client peers to WireGuard interface
      ansible.builtin.shell:
        cmd: |
          # Find if peer already exists
          PEER_EXISTS=$(uci show network | grep "public_key='{{ item.1.content | b64decode | trim }}'" || true)

          if [ -z "$PEER_EXISTS" ]; then
            uci add network wireguard_wg0
            uci set network.@wireguard_wg0[-1]=wireguard_wg0
            uci set network.@wireguard_wg0[-1].public_key='{{ item.1.content | b64decode | trim }}'
            uci set network.@wireguard_wg0[-1].description='{{ item.0.description | default(item.0.name) }}'
            uci add_list network.@wireguard_wg0[-1].allowed_ips='{{ item.0.ip }}/32'
            echo "ADDED"
          else
            echo "EXISTS"
          fi
      loop: "{{ wireguard_clients | zip(client_public_keys.results) | list }}"
      register: peer_add_results
      when: wireguard_clients is defined and wireguard_clients | length > 0
      changed_when: "'ADDED' in peer_add_results.stdout"
      tags: clients

    - name: Commit network changes for clients
      ansible.builtin.command:
        cmd: uci commit network
      when:
        - wireguard_clients is defined and wireguard_clients | length > 0
        - peer_add_results.changed
      tags: clients

    - name: Reload network for client changes
      ansible.builtin.command:
        cmd: /etc/init.d/network reload
      when:
        - wireguard_clients is defined and wireguard_clients | length > 0
        - peer_add_results.changed
      tags: clients

    - name: Restart WireGuard interface to apply peer changes
      ansible.builtin.shell:
        cmd: ifdown wg0 && sleep 2 && ifup wg0
      when:
        - wireguard_clients is defined and wireguard_clients | length > 0
        - peer_add_results.changed
      tags: clients

    - name: Create local directory for client configs
      ansible.builtin.file:
        path: "{{ client_configs_dir }}"
        state: directory
        mode: "0700"
      delegate_to: localhost
      run_once: true
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Generate client configuration files
      ansible.builtin.copy:
        content: |
          [Interface]
          PrivateKey = {{ item.1.content | b64decode | trim }}
          Address = {{ item.0.ip }}/24
          DNS = {{ client_dns }}

          [Peer]
          PublicKey = {{ server_public_key.content | b64decode | trim }}
          Endpoint = {{ wireguard_endpoint }}:{{ wireguard_port }}
          AllowedIPs = {{ client_allowed_ips }}
          PersistentKeepalive = {{ client_keepalive }}
        dest: "{{ client_configs_dir }}/{{ item.0.name }}.conf"
        mode: "0600"
      delegate_to: localhost
      loop: "{{ wireguard_clients | zip(client_private_keys.results) | list }}"
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients

    - name: Generate QR codes for mobile clients
      ansible.builtin.shell:
        cmd: "cat /etc/wireguard/clients/{{ item.name }}.conf | qrencode -t ansiutf8"
      register: qr_codes
      loop: "{{ wireguard_clients }}"
      when: wireguard_clients is defined and wireguard_clients | length > 0
      failed_when: false
      tags: clients, qr

    - name: Create client configs on router for QR generation
      ansible.builtin.copy:
        content: |
          [Interface]
          PrivateKey = {{ item.1.content | b64decode | trim }}
          Address = {{ item.0.ip }}/24
          DNS = {{ client_dns }}

          [Peer]
          PublicKey = {{ server_public_key.content | b64decode | trim }}
          Endpoint = {{ wireguard_endpoint }}:{{ wireguard_port }}
          AllowedIPs = {{ client_allowed_ips }}
          PersistentKeepalive = {{ client_keepalive }}
        dest: "/etc/wireguard/clients/{{ item.0.name }}.conf"
        mode: "0600"
      loop: "{{ wireguard_clients | zip(client_private_keys.results) | list }}"
      when: wireguard_clients is defined and wireguard_clients | length > 0
      tags: clients
