---
- name: Setup Jenkins CI/CD
  hosts: servers
  become: true

  vars:
    jenkins_home: /srv/jenkins

  tasks:
    - name: Pull Jenkins Docker image
      community.docker.docker_image:
        name: jenkins/jenkins:lts
        source: pull
      tags: jenkins

    - name: Create Jenkins data directory
      ansible.builtin.file:
        path: "{{ jenkins_home }}"
        state: directory
        owner: 1000
        group: 1000
        mode: "0755"
      tags: jenkins

    - name: Get docker group ID
      command: getent group docker
      register: docker_group
      changed_when: false

    - name: Extract docker GID
      set_fact:
        docker_gid: "{{ docker_group.stdout.split(':')[2] }}"

    - name: Run Jenkins container correctly
      community.docker.docker_container:
        name: jenkins
        image: jenkins/jenkins:lts
        restart_policy: always
        state: started
        user: "jenkins"
        groups:
          - "{{ docker_gid }}"
        ports:
          - "9080:8080"
        volumes:
          - /srv/jenkins:/var/jenkins_home
          - /var/run/docker.sock:/var/run/docker.sock
          - /usr/bin/docker:/usr/bin/docker
          - /usr/libexec/docker/cli-plugins:/usr/libexec/docker/cli-plugins

    - name: Open Jenkins port in firewall
      community.general.ufw:
        rule: allow
        port: "9080"
        proto: tcp
      tags: firewall
