---
- name: Configure WireGuard VPN on GL.iNet Router
  hosts: glinet-router
  gather_facts: false

  vars:
    wireguard_port: 51820
    wireguard_vpn_subnet: "10.0.10.0/24"
    wireguard_server_ip: "10.0.10.1"
    wireguard_endpoint: "{{ lookup('env', 'WG_ENDPOINT') | default('dcsicsak.duckdns.org', true) }}"

    wireguard_clients:
      - name: laptop
        ip: 10.0.10.2
        description: "Lenovo New"

    client_dns: "192.168.8.1"
    client_allowed_ips: "10.0.10.0/24, 192.168.8.0/24"
    client_keepalive: 25

    client_configs_dir: "{{ playbook_dir }}/../wireguard_clients"

  tasks:
    - name: Install WireGuard and generate server keys
      import_tasks: install_wireguard.yml

    - name: Configure WireGuard interface and firewall
      import_tasks: configure_wireguard.yml

    - name: WireGuard client key generation and config creation
      import_tasks: wireguard_clients.yml
